<nav class="navbar">
  <h1>Welcome to Customer Portal</h1>
  <ul class="nav-menu">
    <li><a (click)="goWelcome()">Home</a></li>
    <li><a (click)="goAbout()">About</a></li>
    <li><a (click)="goContact()">Contact</a></li>
     <li><a (click)="goLogin()">Login</a></li>
  </ul>
</nav>

<div class="hero-image-container">
 <div class="hero-content">
  <img class ="hero-image" src="https://t4.ftcdn.net/jpg/14/18/31/63/360_F_1418316317_Jl6sgnW8nxX5EEizpSG9Y47gjdJoZ2d0.jpg">
    <h1>Welcome !</h1>
    <h2>Our Dear Customer</h2>
    <button (click)="goLogin()">Get Started</button>
    <h5>Better Service, Better Customer</h5>
  </div>
</div>

<div class="banner">
  <div class="overlay"></div>
  <div class="content">
     <h1 class="top-left-title">NEXTGEN SUNSHINE RENEWABLES PVT LTD</h1>
    <h1>Powering a Sustainable Tomorrow</h1>
    <p>Innovative Renewable Energy Solutions Designed and Built for You</p>
    <P class="bottom-left-quote">"The future is green energy, sustainability, renewable energy."</P>
    <p class="bottom-left-quotename">— Arnold Schwarzenegger</p>
  </div>
</div>

<div class="welcome-row">
  <!-- Left Image Container with Two Images (column layout) -->
  <div class="image-container">
    <img src="https://imgs.search.brave.com/W1xc4n2oGx-M0a6P_EjSZ7S8yPDNuJD17Ob2F0OeNI0/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMtcGxhdGZvcm0u/OTlzdGF0aWMuY29t/Ly9SNk5hNVpjaHRE/VVZ2aUNqa0NsVGhf/Qk12Q0U9LzQyOXg4/NjQ6MTAwNHgxNDM5/L2ZpdC1pbi81MDB4/NTAwLzk5ZGVzaWdu/cy1jb250ZXN0cy1h/dHRhY2htZW50cy8x/MjIvMTIyNDIxL2F0/dGFjaG1lbnRfMTIy/NDIxMzY0" alt="Top Welcome Image" class="image-top" />
    <img src="https://images.businessnewsdaily.com/app/uploads/2018/09/06104924/Focus-on-face-to-face-interactions.png" alt="Bottom Welcome Image" class="image-bottom" />
  </div>
  <div class="welcome-wrapper">
    <div class="welcome-section">
      <h2>NEXTGEN SUNSHINE RENEWABLES PVT LTD</h2>
      <p >Your trusted partner in precision manufacturing, automation, and digital transformation.</p>
      <div class="highlights">
        <h2>Our Commitment</h2>
        <ul>
          <li>Delivering high-quality components and systems on time, every time.</li>
          <li>Combining traditional expertise with modern smart factory innovations.</li>
          <li>Transparent communication and real-time updates through this customer portal.</li>
        </ul>
      </div>
      <div class="get-started">
       <h2><a (click)="goLogin()">Get Started</a></h2>
       <p >Gain instant access to your personalized dashboard with powerful tools like Customer Intelligence, Customer Financial Sheet, and Customer Profile all from a unified, secure portal. Empower your decision-making with real-time insights and seamless communication.</p>
      </div>
   </div>
  </div>
</div>

<footer class="footer">
  <div class="footer-content">
    <a routerLink="/contact">Contact</a>
    <a (click)="goAbout()">About</a>
    <a routerLink="/address">Address</a>
  </div>
   <p>© 2025 NEXTGEN RENEWABLES PVT LTD. All rights reserved.</p>
</footer>

