<nav class="navbar">
  <h1>Welcome to Customer Portal</h1>
  <ul class="nav-menu">
    <li><a (click)="goWelcome()">🏠 Home</a></li>
    <li><a>💡 About</a></li>
    <li><a (click)="goContact()">📞 Contact</a></li>
     <li><a (click)="goLogin()">🧑🏻‍💼 Login</a></li>
  </ul>
</nav>

<div class="hero-image-container">
 <div class="hero-content">
  <img class ="hero-image" src="https://t4.ftcdn.net/jpg/14/18/31/63/360_F_1418316317_Jl6sgnW8nxX5EEizpSG9Y47gjdJoZ2d0.jpg">
    <h1>Welcome !</h1>
    <h2>Our Dear Customer</h2>
    <button (click)="goLogin()">Get Started</button>
    <h5>Better Service, Better Customer</h5>
  </div>
</div>

<footer class="footer">
  <div class="footer-content">
    <a routerLink="/contact">Contact</a>
    <a>About</a>
    <a routerLink="/address">Address</a>
  </div>
   <p>© 2025 All rights reserved.</p>
</footer>

