<nav class="navbar">
  <h1>Explore Your Intelligence</h1>
  <ul class="nav-menu">
    <li><a (click)="goBack()">Back</a></li>
  </ul>
</nav>

<!-- Main Containers Section -->
<div class="main-sections">
  <a class="container-box" routerLink="/profile">
    <img class="box-image" src="https://cdn-icons-png.freepik.com/256/12236/12236855.png?semt=ais_incoming">
    <h2><a (click)="goDataInquiry()">Inquiry Data</a></h2>
    <p>Find your personal details and preferences.</p>
  </a>

  <a class="container-box" routerLink="/dashboard">
    <img src="https://cdn-icons-png.freepik.com/256/3045/3045670.png" alt="Dashboard" class="box-image">
    <h2><a (click)="goSalesOrder()" >Sales Order Data</a></h2>
    <p>Interactive dashboard showing user activity, services, and KPIs.</p>
  </a>

  <a class="container-box" routerLink="/financial-sheet">
    <img src="https://cdn-icons-png.flaticon.com/512/2728/2728447.png" alt="Financial Sheet" class="box-image">
    <h2><a (click)="goLOD()">List of Delivery</a></h2>
    <p>Access billing history, payment details, and financial summary.</p>
  </a>
</div>