<nav class="navbar">
  <h1>Welcome to Customer Portal</h1>
  <ul class="nav-menu">
  <li><a (click)=" goBack()">Back</a></li>
  </ul>
</nav>

<div class="about-container">
  <div class="content-wrapper">
    <h2 class="title">About Our Customer Portal</h2>
    <p class="description">Welcome to our Customer Portal, your one-stop destination for managing your account, accessing services, and receiving support all in one secure and convenient platform.</p>

    <p class="description">Whether you are looking to track orders, view billing details, update personal information, or communicate with customer support, our portal is designed to make your experience seamless and efficient. With an intuitive interface and personalized features, we strive to provide you with the tools you need to manage your relationship with us with ease.</p>

    <div class="features">
      <h3 class="features-title">Key Features:</h3>
      <ul class="feature-list">
        <li class="feature-item">Customer Profile: View and manage your personal details, preferences, and settings.</li>
        <li class="feature-item">Customer Dashboard: Get a comprehensive overview of your account, activities, and recent transactions.</li>
        <li class="feature-item">Financial Sheets: Access detailed financial statements and reports to track your spending and balance.</li>
      </ul>
    </div>
    <p class="description">We are committed to enhancing your experience and providing top-notch support. Thank you!! we are here to help you every step of the way.</p>
  </div>
</div>
